@import "tailwindcss";

:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


fieldset {
  display: grid;
  grid-template-columns: auto auto;
}
